<ion-content id="content">
    <ion-header>
        <ion-toolbar>
            <ion-searchbar *ngIf="isShowSearchBar" autocomplete="on" showCancelButton="always" color="light" type="text" [(ngModel)]="searchBarText" (ionChange)="changeSearchBar()" (ionCancel)="hideSearchBar()" (ionClear)="hideSearchBar()"></ion-searchbar>
            <ion-grid *ngIf="isShowBar">
                <ion-row class="ion-align-items-center ion-justify-content-center">
                    <ion-col size="2">
                        <div class="menuIcon">
                            <ion-icon name="menu" (click)="openFirst()"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="5" offset="3">
                        <div class="nameHeader"> Blog </div>
                    </ion-col>
                    <ion-col size="2" class="ion-float-right">
                        <div>
                            <ion-icon name="search" (click)="showSearchBar()"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>


    <ion-content fullscreen="false">
        <div *ngFor="let blog of blogs | filter:'header':searchBarText">
            <div class="user">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2" align-self-center>
                            <div class="avatarContainer">
                                <img [src]="blog.avatar" class="avatar">
                            </div>
                        </ion-col>
                        <ion-col size="10" align-self-center>
                            <div class="blogInfo">
                                <div class="blogName">{{blog.name}}</div>
                                <div class="blogDate">{{blog.createdAt | date:'MMMM d, h:mm aaa' }}</div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div class="userSheet">
                <img [src]="blog.photo">
                <a [name]="blog.header">
                    <div class="blogHeader">{{blog.header}}

                    </div>
                </a>
                <div class="blogText">{{ blog.text }}</div>
            </div>
        </div>

    </ion-content>
</ion-content>



<ion-menu side="start" menuId="first" content-id="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Blogs title list</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngFor="let blog of blogs | filter:'header':searchBarText">
            <a  (click)="gotoArticle(blog.id)">
                <ion-item>{{ blog.header }}</ion-item>
            </a>
        </ion-list>
    </ion-content>
</ion-menu>